    <nav>
        <h1>Prohlížeč databáze zaměstnanců</h1>
        <ul>
            <li><a href="/idk/projekt3-db/public/room/list.php">Místnosti</a></li>
            <li><a href="/idk/projekt3-db/public/staff/list.php">Lidé</a></li>
        </ul>
    </nav>