{{#staff}}
    <h1>Detail osoby {{name}}</h1>
    <dl>
        <dt>Jméno</dt>
        <dd>{{name}}</dd>

        <dt>Příjmení</dt>
        <dd>{{surname}}</dd>

        <dt>Práce</dt>
        <dd>{{job}}</dd>

        <dt>Wage</dt>
        <dd>{{wage}}</dd>

        <dt>Login</dt>
        <dd>{{login}}</dd>

        <dt>Password</dt>
        <dd>{{password}}</dd>

        <dt>Admin</dt>
        <dd>{{admin}}</dd>
    </dl>
{{/staff}}
