<table class='table table-striped'>
    <tr>
        <th>Name</th>
        <th>Job</th>
        <th>Wage</th>
        <th>Action</th>
    </tr>

    {{#staffs}}
    <tr>
        <td>
            <a href='detail.php?staffId={{staff_id}}'>{{name}} {{surname}}</a>
        </td>
        <td>{{#job}}{{job}}{{/job}}{{^job}}&mdash;{{/job}}</td>
        <td>{{#wage}}{{wage}}{{/wage}}{{^wage}}&mdash;{{/wage}}</td>
        <td>
            <form action="update.php" method="get" style="display: inline-block">
                <input type="hidden" name="staffId" value="{{staff_id}}">
                <input type="submit" value="Upravit" class="btn btn-info">
            </form>
            <form action="delete.php" method="post" style="display: inline-block">
                <input type="hidden" name="staffId" value="{{staff_id}}">
                <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat osobu?\nAkce je nevratná!');">
            </form>
        </td>
    </tr>
    {{/staffs}}
    {{^staffs}}
        <tr><td colspan="3">Databáze je prázdná</td></tr>
    {{/staffs}}

</table>

<a href="create.php" class="btn btn-primary">Založit novou osobu</a>
